.title {
    display: block;
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

h4 {text-align: right;}

.title {
  color: #999;
  border: 1px solid #ddd;
}
